@model List<Gcp.Web.Models.Kurumlar>
@{
	Layout = null;
}
@foreach (var p in Model)
{
	if (p != null)
	{
		<tr role="row">
			<td class="sorting_1">
				@p.KurumIsmi
			</td>
			<td>
				@if(@p.TemsilciKisi != null){@p.TemsilciKisi}
				else { <label>---</label>}
			</td>
		</tr>
	}
	else
	{
		<tr role="row">
			<td class="sorting_1">
				---
			</td>
			<td>---</td>
		</tr>
	}
}
