@{
	ViewBag.Title = "Araçlar Index";
	Layout = "~/Views/Shared/_panelLayout.cshtml";
}
@section pagescript{

	<script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
	<script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
	<script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
	<script src="../assets/pages/scripts/table-datatables-responsive.js" type="text/javascript"></script>
	<script src="../assets/pages/scripts/ui-confirmations.js" type="text/javascript"></script>
	<script src="../assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.js" type="text/javascript"></script>
}
@section pagestyle{

	<link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
	<link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
}
@section aracMenu{
	<span class="selected"></span>


}
@section veriMenu{
	<span class="selected"></span>
}
@section activeveri{
	active open
}
@section activearac{
	active open
}
@section pagehead{
	Araçlar Sayfası
}
@section pagesubhead{
	araçları görüntüle,düzenle,ekle ve sil
}
<div class="row">

	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-green">
					<i class="icon-briefcase font-green"></i>
					<span class="caption-subject bold uppercase">Araç Listesi &nbsp;</span>
					<a data-toggle="modal" data-target="#yeniKayit">
						<span class="btn btn-xs btn-info">Yeni Kayıt</span>

					</a>
				</div>
				<div class="tools"> </div>
			</div>
			<div class="portlet-body">
				<div id="sample_2_wrapper" class="dataTables_wrapper no-footer">

					<div>
						<table class="table table-striped table-bordered table-hover dt-responsive dataTable no-footer dtr-column collapsed" width="100%" id="sample_2" role="grid" aria-describedby="sample_2_info" style="width: 100%;">
							<thead>
								<tr role="row">
									<th id="detail" class="control sorting_disabled"></th>
									<th class="all sorting_asc">Marka</th>
									<th>Model</th>
									<th class="min-phone-l sorting">Plaka</th>
									<th class="min-tablet sorting">Personel</th>
									<th class="none sorting">Alınış Tarihi : </th>
									<th class="none sorting">Bakım Tarihi : </th>
									<th class="none sorting">Muayene Tarihi : </th>
									@*<th class="none sorting"></th>*@
									@*<th class="desktop sorting">Maaş</th>
										<th class="none sorting">Eğitim : </th>*@
									<th class="col-md-1">İşlemler</th>

								</tr>
							</thead>
							<tbody id="tableBody"></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>


<!--MODALs-->

<div class="modal fade" id="yeniKayit" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Yeni Kayıt</h4>
			</div>
			<div class="modal-body">

				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption font-red-sunglo">
							<i class="icon-settings font-red-sunglo"></i>
							<span class="caption-subject bold uppercase"> Araç Ekleme Formu</span>
						</div>

					</div>
					<div class="portlet-body form">

						<div class="form-body">
							<div class="form-group">
								<label>Araç Plaka:</label>
								<input id="pPlaka" class="form-control spinner" type="text" placeholder="Araç Plakası">
							</div>
							<div class="form-group">
								<label>Marka Adı:</label>
								<select class="form-control" id="dropMarka">
									<option>Seçiniz</option>
								</select>
							</div>

							<div class="form-group">
								<label>Model Adı:</label>
								<select class="form-control" id="dropModel">
									<option>Seçiniz</option>
								</select>
							</div>@*<br />
								<h4>Araç Detay</h4><hr />
								<div class="form-group">
									<label>Alınış Tarihi:</label><small><i class="pull-right">(Örn: 01.01.1990 & 01/01/1990)</i></small>
									<input id="alinisTarihi" class="form-control spinner" type="datetime" placeholder="Alınış Tarihi">
								</div>
								<div class="form-group">
									<label>Bakım Tarihi:</label><small><i class="pull-right">(Örn: 01.01.1990 & 01/01/1990)</i></small>
									<input id="bakimTarihi" class="form-control spinner" type="datetime" placeholder="Bakım Tarihi">
								</div>
								<div class="form-group">
									<label>Muayene Tarihi:</label><small><i class="pull-right">(Örn: 01.01.1990 & 01/01/1990)</i></small>
									<input id="muayeneTarihi" class="form-control spinner" type="datetime" placeholder="Muayene Tarihi">
								</div>*@
							<div class="form-group">
								<label class="mt-checkbox">
									Aktif
									<input type="checkbox" value="true" id="aktif">
									<span></span>
								</label>

							</div>

						</div>
					</div>
				</div>
			</div>


			<div class="modal-footer">
				<button data-bb-handler="ok" type="button" class="btn green" id="saveBtn" data-dismiss="modal">Kaydet</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearKayit()">Vazgeç</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="guncelleKayit" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Güncelle</h4>
			</div>
			<div class="modal-body">

				<div class="modal-body">

					<div class="portlet light bordered">
						<div class="portlet-title">
							<div class="caption font-red-sunglo">
								<i class="icon-settings font-red-sunglo"></i>
								<span class="caption-subject bold uppercase"> Araç Güncelleme Formu</span>
							</div>

						</div>
						<div class="portlet-body form">

							<div class="form-body">
								<div class="form-group">
									<label>Araç Plaka:</label>
									<input id="peditPlaka" class="form-control spinner" type="text" placeholder="Araç Plakası">
									<input id="peditId" class="form-control spinner" type="hidden">

								</div>
								<div class="form-group">
									<label>Marka Adı:</label>
									<select class="form-control" id="dropMarkaEdit">
										<option>Seçiniz</option>
									</select>
									<input id="peditId" class="form-control spinner" type="hidden">
								</div>

								<div class="form-group">
									<label>Model Adı:</label>
									<select class="form-control" id="dropModelEdit">
										<option>Seçiniz</option>
									</select>
								</div>

								<div class="form-group">

									<label class="mt-checkbox">
										Aktif
										<input type="checkbox" value="true" id="editaktif">
										<span></span>
									</label>

								</div>@*<br />
									<h4>Araç Detay</h4><hr />
									<div class="form-group">
										<label>Alınış Tarihi:</label><small><i class="pull-right">(Örn: 01.01.1990 & 01/01/1990)</i></small>
										<input id="editalinisTarihi" class="form-control spinner" type="datetime">
									</div>
									<div class="form-group">
										<label>Bakım Tarihi:</label><small><i class="pull-right">(Örn: 01.01.1990 & 01/01/1990)</i></small>
										<input id="editcikisTarihi" class="form-control spinner" type="datetime">
									</div>
									<div class="form-group">
										<label>Muayene Tarihi:</label><small><i class="pull-right">(Örn: 01.01.1990 & 01/01/1990)</i></small>
										<input id="editizinTarihi" class="form-control spinner" type="datetime">
									</div>*@
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button data-bb-handler="ok" type="button" class="btn green" id="updateBtn" data-dismiss="modal">Güncelle</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearKayit()">Vazgeç</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="detayKayit" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Yeni Detay</h4>
			</div>
			<div class="modal-body">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption font-red-sunglo">
							<i class="icon-settings font-red-sunglo"></i>
							<span class="caption-subject bold uppercase"> Araç Detay Formu</span>
						</div>
					</div>
					<div class="portlet-body form">
						<div class="form-body">
							<div class="form-group">
								<label>Alınış Tarihi:</label><small><i class="pull-right">(Örn: 01.01.1990 & 01/01/1990)</i></small>
								<input id="aracId" type="hidden"/>
								<input id="alinisTarihi" class="form-control spinner" type="datetime" placeholder="Alınış Tarihi">
							</div>
							<div class="form-group">
								<label>Bakım Tarihi:</label><small><i class="pull-right">(Örn: 01.01.1990 & 01/01/1990)</i></small>
								<input id="bakimTarihi" class="form-control spinner" type="datetime" placeholder="Bakım Tarihi">
							</div>
							<div class="form-group">
								<label>Muayene Tarihi:</label><small><i class="pull-right">(Örn: 01.01.1990 & 01/01/1990)</i></small>
								<input id="muayeneTarihi" class="form-control spinner" type="datetime" placeholder="Muayene Tarihi">
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="modal-footer">
				<button data-bb-handler="ok" type="button" class="btn green" id="savedetayBtn" data-dismiss="modal">Ekle</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearKayit()">Vazgeç</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="detayGoruntule" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Detayları Görüntüle</h4>
			</div>
			<div class="modal-body">

				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption font-red-sunglo">
							<i class="icon-settings font-red-sunglo"></i>
							<span class="caption-subject bold uppercase"> Araç Detay Tablosu</span>
						</div>

					</div>
					<div class="portlet-body form">

						<table class="table table-responsive table-condensed">
							<thead>
							<tr>
								<th id="detail" class="control sorting_disabled"></th>
								<th>Alınış Tarihi</th>
								<th>Bakım Tarihi</th>
								<th>Muayene Tarihi</th>
							</tr>
							</thead>
							<tbody id="tableDetay"></tbody>
						</table>

					</div>
				</div>
			</div>


			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearKayit()">Kapat</button>
			</div>
		</div>
	</div>
</div>

<script>
	getListe();

	getDropDownMarka();
	getDropDownPersonel();

	function clearKayit() {
		$('#dropPersonel').empty();
		$('#dropPersonelEdit').empty();
		$('#dropMarka').empty();
		$('#dropModel').empty();
		$('#dropModelEdit').empty();
		$('#dropMarkaEdit').empty();

	}

	function getListe() {
		$.ajax({
			url: "/Araclar/GetAraclarHtml",
			datatype: 'json',
			success: (data) => {
				$("#tableBody").html(data);
			}
		});
	};

	function deleteArac() {
		var id = $(this)[0].getAttribute('data-id');
		$.ajax({
			url: "/Araclar/Delete/" + id,
			type: "POST",
			success: () => {
				getListe();
			}
		});
	};

	function dateConvert(dateJ) {
		var dateString = dateJ.substr(6);
		var currentTime = new Date(parseInt(dateString));
		var month = currentTime.getMonth() + 1;
		var day = currentTime.getDate();
		var year = currentTime.getFullYear();
		var date = day + "/" + month + "/" + year;
		return date;
	}

	function editDoldur(data) {
		clearKayit();
		getDropDownMarkaEdit(data.MarkaID, data.ModelID);
		getDropDownModelEdit(data.ModelID);
		getDropDownPersonelEdit(data.PersonelID);
		$("#peditPlaka").val((data.AracPlaka));
		$("#peditId").val((data.AracID));
		if (data.AktifMi === true) {
			$("#editaktif").prop('checked', true);
			$("#editaktif").attr('checked', 'checked');
			$("#editaktif").checked = checked;
		}
		$("#editaktif").prop("checked", false);

	};

	function getArac(id) {
		$.ajax({
			url: "/Araclar/Edit/" + id,
			type: "GET",
			data: { id: id },
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: (data) => {
				editDoldur(data);
			}
		});
	};

	function getAracDetay(id) {
		$.ajax({
			url: "/Araclar/DetayDokumHtml",
			data: {aracId: id},
			success: (data) => {
				$("#tableDetay").html(data);
			}
		});
	};

	$("#saveBtn").click(() => {

		$.ajax({
			url: "/Araclar/Create",
			type: "POST",
			data: {
				AracPlaka: $("#pPlaka").val(),
				MarkaID: $("#dropMarka").val(),
				ModelID: $("#dropModel").val(),
				AktifMi: $("#aktif:checked").val()
			},
			success: () => {
				getListe();
			}
		});
	});
	
	$('#detayKayit').on('show.bs.modal', function (e) {
		var id = $(e.relatedTarget).data('book-id');
		$(e.currentTarget).find('input[id="aracId"]').val(id);
	});

	$("#savedetayBtn").click(() => {
		$.ajax({
			url: "/Araclar/DetayCreate",
			type: "POST",
			data: {
				AracID: $("#aracId").val(),
				AlinisTarihi: $("#alinisTarihi").val(),
				BakimTarihi: $("#bakimTarihi").val(),
				MuayeneTarihi: $("#muayeneTarihi").val()
			},
			success: () => {
				getListe();
			}
		});
	});

	$("#updateBtn").click((id, data) => {

		$.ajax({
			url: "/Araclar/Edit/" + id + data,
			type: "POST",
			data: {
				AracID: $('#peditId').val(),
				PersonelID: $("#dropPersonel").val(),
				MarkaID: $("#dropMarka").val(),
				ModelID: $("#dropModel").val(),
				AktifMi: $('#editaktif:checked').val()
			},
			success: () => {
				getListe();
			}
		});
	});

	//Dropdowns

	function getDropDownMarka() {
		var myDropDownList = $('#dropMarka');

		$.ajax({
			type: "GET",
			url: "/Marka/forDropDown",
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (data) {
				$.each((data),
					function () {
						myDropDownList.append($('<option></option>').val(this['MarkaID']).html(this['MarkaAd']));
					});
			},
			failure: function (response) {
				alert(response.d);
			}
		});
	};

	function getDropDownMarkaEdit(id, id2) {
		var myDropDownList = $('#dropMarkaEdit');
		myDropDownList.empty();
		$.ajax({
			type: "GET",
			url: "/Marka/forDropDown",
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (data) {
				$.each((data),
					function () {
						if (id == this.MarkaID) {
							myDropDownList.append($('<option selected="selected"></option>').val(this['MarkaID']).html(this['MarkaAd']).attr('selected', 'selected'));
						}
						myDropDownList.append($('<option></option>').val(this['MarkaID']).html(this['MarkaAd']));
					});
				getDropDownModelEdit(this.MarkaID, id2);
			},
			failure: function (response) {
				alert(response.d);
			}

		});
	}

	function getDropDownModelEdit(id, id2) {
		var myDropDownList = $('#dropModelEdit').empty();

		$.ajax({
			type: "GET",
			url: "/Model/forDropDown?markaId=" + id,
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (data) {
				$.each((data),
					function () {
						if (id2 == this.ModelID) {
							myDropDownList.append($('<option selected="selected"></option>').val(this['ModelID']).html(this['ModelAd']).attr('selected', 'selected'));
						}
						myDropDownList.append($('<option></option>').val(this['ModelID']).html(this['ModelAd']));
					});
			},
			failure: function (response) {
				alert(response.d);
			}
		});
	};

	$('#dropMarka').on('change', function () {
		$('#dropModel').empty();
		var markaId = $(this).val();
		getDropDownModel(markaId);
	});

	function getDropDownModel(id) {
		var myDropDownList = $('#dropModel');

		$.ajax({
			type: "GET",
			url: "/Model/forDropDown?markaID=" + id,
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (data) {
				$.each((data),
					function () {
						myDropDownList.append($('<option></option>').val(this['ModelID']).html(this['ModelAd']));
					});
			},
			failure: function (response) {
				alert(response.d);
			}
		});
	};

	function getDropDownPersonel() {
		var myDropDownList = $('#dropPersonel');

		$.ajax({
			type: "GET",
			url: "/Personel/forDropDown",
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (data) {
				$.each((data),
					function () {
						var adsoyad = this.PersonelAd + " " + this.PersonelSoyad;
						myDropDownList.append($('<option></option>').val(this['PersonelID']).html(adsoyad));
					});
			},
			failure: function (response) {
				alert(response.d);
			}
		});
	};

	function getDropDownPersonelEdit(id) {
		var myDropDownList = $('#dropPersonelEdit');

		$.ajax({
			type: "GET",
			url: "/Personel/forDropDown",
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (data) {
				$.each((data),
					function () {
						var adsoyad = this.PersonelAd + " " + this.PersonelSoyad;
						if (id == this.PersonelID) {
							myDropDownList.append($('<option selected="selected"></option>').val(this['PersonelID']).html(adsoyad).attr('selected', 'selected'));
						}
						myDropDownList.append($('<option></option>').val(this['PersonelID']).html(adsoyad));
					});
			},
			failure: function (response) {
				alert(response.d);
			}
		});
	};

</script>