@{
	ViewBag.Title = "Personel Index";
	Layout = "~/Views/Shared/_panelLayout.cshtml";
}
@section pagescript{
	<script src="~/Scripts/personelJS.js?=@DateTime.Now" charset="utf-8"></script>
	<script src="../assets/global/scripts/datatable.js?=@DateTime.Now" type="text/javascript"></script>
	<script src="../assets/global/plugins/datatables/datatables.min.js?=@DateTime.Now" type="text/javascript"></script>
	<script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js?=@DateTime.Now" type="text/javascript"></script>
	<script src="../assets/pages/scripts/table-datatables-responsive.js?=@DateTime.Now" type="text/javascript"></script>
	<script src="../assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.js?=@DateTime.Now" type="text/javascript"></script>
	<script src="../assets/global/plugins/bootstrap-toastr/toastr.js?=@DateTime.Now" type="text/javascript" charset="utf-8"></script>
}
@section pagestyle{
	<link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />

	<link href="../assets/global/plugins/datatables/datatables.min.css?=@DateTime.Now" rel="stylesheet" type="text/css" />
	<link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css?=@DateTime.Now" rel="stylesheet" type="text/css" />
}
@section veriMenu{
	<span class="selected"></span>
}
@section activeveri{
	active open
}
@section personelMenu{
	<span class="selected"></span>
}
@section activepersonel{
	active open
}
@section pagehead{
	Personel Sayfası
}
@section pagesubhead{
	personelleri görüntüle,düzenle,ekle ve sil
}
<div class="row">

	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-green">
					<i class="icon-briefcase font-green"></i>
					<span class="caption-subject bold uppercase">Personel Listesi &nbsp;</span>
					<a data-toggle="modal" data-target="#yeniKayit">
						<span class="btn btn-xs btn-info">Yeni Kayıt</span>

					</a>
				</div>
				<div class="tools"> </div>
			</div>
			<div class="portlet-body">
				<div id="sample_2_wrapper" class="dataTables_wrapper no-footer">

					<div>
						<table class="table table-striped table-bordered table-hover dt-responsive dataTable no-footer dtr-column collapsed" width="100%" id="sample_2" role="grid" aria-describedby="sample_2_info" style="width: 100%;">
							<thead>
								<tr role="row">
									<th id="detail" class="control"></th>
									<th class="all sorting_asc">Ad</th>
									<th class="desktop">Soyad</th>
									<th class="desktop">Pozisyon</th>
									<th class="desktop">Araç</th>
									<th class="none">Giriş Tarihi : </th>
									<th class="none">Doğum Tarihi : </th>
									<th class="none">Vardiya : </th>
									<th class="desktop">Maaş</th>
									<th class="none">Eğitim : </th>
									<th class="none">Amir : </th>
									<th class="all">İşlemler</th>

								</tr>
							</thead>
							<tbody id="tableBody"></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>


<!--MODALs-->

<div class="modal fade" id="yeniKayit" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Yeni Kayıt</h4>
			</div>
			<div class="modal-body">

				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption font-red-sunglo">
							<i class="icon-settings font-red-sunglo"></i>
							<span class="caption-subject bold uppercase"> Personel Ekleme Formu</span>
						</div>

					</div>
					<div class="portlet-body form">

						<div class="form-body">
							<div class="form-group">
								<label>Adı:</label>
								<input id="pName" class="form-control spinner" type="text" placeholder="Personel Adı">
							</div>

							<div class="form-group">
								<label>Soyadı:</label>
								<input id="pLastName" class="form-control spinner" type="text" placeholder="Personel Soyadı">
							</div>
							<div class="form-group">
								<label>Ünvan</label>
								<select class="form-control" id="dropUnvan">
									<option>Seçiniz</option>
								</select>
							</div>
							<div class="form-group">
								<label>Maaş:</label>
								<input id="pMaas" class="form-control spinner" type="number" placeholder="Personel Maaşı">
							</div>
							<div class="form-group">
								<label>Eğitim</label>
								<select class="form-control" id="dropEgitim">
									<option>Seçiniz</option>
								</select>
							</div>
							<div class="form-group">
								<label>Vardiya</label>
								<select class="form-control" id="dropVardiya">
									<option>Seçiniz</option>
								</select>
							</div>
							<div class="form-group">
								<label>Araç</label>
								<select class="form-control" id="dropArac">
									<option>Seçiniz</option>
								</select>
							</div>
							<div class="form-group">
								<label>Amir</label><small><i class="pull-right">Amir değilse seçiniz</i></small>
								<select class="form-control" id="dropAmir">
									<option>Seçiniz</option>
								</select>
							</div>
							<div class="form-group">
								<label>Doğum Tarihi:</label><small><i class="pull-right">(Örn: 01.01.1990 & 01/01/1990)</i></small>
								<input id="dogumTarihi" class="form-control spinner" type="datetime" placeholder="Doğum Tarihi">
							</div>
							<div class="form-group">
								<label>Giriş Tarihi:</label><small><i class="pull-right">(Örn: 01.01.1990 & 01/01/1990)</i></small>
								<input id="girisTarihi" class="form-control spinner" type="datetime" placeholder="Giriş Tarihi">
							</div>
							<div class="form-group">
								<label>Çıkış Tarihi:</label><small><i class="pull-right">(Örn: 01.01.1990 & 01/01/1990)</i></small>
								<input id="cikisTarihi" class="form-control spinner" type="datetime" placeholder="Çıkış Tarihi">
							</div>
							<div class="form-group">
								<label>İzin Tarihi:</label><small><i class="pull-right">(Örn: 01.01.1990 & 01/01/1990)</i></small>
								<input id="izinTarihi" class="form-control spinner" type="datetime" placeholder="İzin Tarihi">
							</div>
						</div>
						<div class="form-group">

							<div class="mt-checkbox-list">
								<label class="mt-checkbox">
									Çalışıyor
									<input type="checkbox" value="true" id="calisma">
									<span></span>
								</label>
								<label class="mt-checkbox">
									Amir
									<input type="checkbox" value="true" id="amir">
									<span></span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="modal-footer">
				<button data-bb-handler="ok" type="button" class="btn green" id="saveBtn" data-dismiss="modal">Kaydet</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearKayit()">Vazgeç</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="guncelleKayit" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Güncelle</h4>
			</div>
			<div class="modal-body">

				<div class="modal-body">

					<div class="portlet light bordered">
						<div class="portlet-title">
							<div class="caption font-red-sunglo">
								<i class="icon-settings font-red-sunglo"></i>
								<span class="caption-subject bold uppercase"> Personel Güncelleme Formu</span>
							</div>

						</div>
						<div class="portlet-body form">

							<div class="form-body">
								<div class="form-group">
									<label>Adı:</label>
									<input id="peditName" class="form-control spinner" type="text">
									<input id="peditId" class="form-control spinner" type="hidden">
								</div>

								<div class="form-group">
									<label>Soyadı:</label>
									<input id="peditLastName" class="form-control spinner" type="text">
								</div>
								<div class="form-group">
									<label>Ünvan</label>
									<select class="form-control" id="dropUnvanEdit"></select>
								</div>
								<div class="form-group">
									<label>Maaş:</label>
									<input id="peditMaas" class="form-control spinner" type="number">
								</div>
								<div class="form-group">
									<label>Eğitim</label>
									<select class="form-control" id="dropEgitimEdit"></select>
								</div>
								<div class="form-group">
									<label>Vardiya</label>
									<select class="form-control" id="dropVardiyaEdit"></select>
								</div><div class="form-group">
									<input id="oldAracId" type="hidden" />
									<label>Araç</label>
									<select class="form-control" id="dropAracEdit">
										<option>Seçiniz</option>
									</select>
								</div>
								<div class="form-group">
									<label>Amir</label>
									<select class="form-control" id="dropAmirEdit">
										<option>Seçiniz</option>
									</select>
								</div>
								<div class="form-group">
									<label>Doğum Tarihi:</label><small><i class="pull-right">(Örn: 01.01.1990 & 01/01/1990)</i></small>
									<input id="editdogumTarihi" class="form-control spinner" type="datetime">
								</div>
								<div class="form-group">
									<label>Giriş Tarihi:</label><small><i class="pull-right">(Örn: 01.01.1990 & 01/01/1990)</i></small>
									<input id="editgirisTarihi" class="form-control spinner" type="datetime">
								</div>
								<div class="form-group">
									<label>Çıkış Tarihi:</label><small><i class="pull-right">(Örn: 01.01.1990 & 01/01/1990)</i></small>
									<input id="editcikisTarihi" class="form-control spinner" type="datetime">
								</div>
								<div class="form-group">
									<label>İzin Tarihi:</label><small><i class="pull-right">(Örn: 01.01.1990 & 01/01/1990)</i></small>
									<input id="editizinTarihi" class="form-control spinner" type="datetime">
								</div>
							</div>
							<div class="form-group">

								<div class="mt-checkbox-list">
									<label class="mt-checkbox">
										Çalışıyor
										<input type="checkbox" value="true" id="editcalisma">
										<span></span>
									</label>
									<label class="mt-checkbox">
										Amir
										<input type="checkbox" value="true" id="editamir">
										<span></span>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>



			</div>
			<div class="modal-footer">
				<button data-bb-handler="ok" type="button" class="btn green" id="updateBtn" data-dismiss="modal">Güncelle</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearKayit()">Vazgeç</button>
			</div>
		</div>
	</div>
</div>
